@import 'reset';



/* **************************************************

                        GLOBALS

***************************************************** */


.global_container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}
.row{
  height: 100%;
}

/* **************************************************

                        NAVBAR

***************************************************** */
header{
  height: 1420px;
  background: url("../images/hdbg.jpg")no-repeat center;
  background-size: cover;
  background-position: bottom;
}
@media (min-width: 375px) {
  header {
    height: 1350px;
  }
}
@media (min-width: 425px) {
  header {
    height: 1280px;
  }
}
@media (min-width: 768px) {
  header {
    height: 1190px;
  }
}
@media (min-width: 1024px) {
  header {
    height: 970px;
  }
}
.navbar{
  background-color: rgba(100, 140, 255, 0.9);
  //max-width: 1170px; don't know what to do with it.If I turn it on navbar in only in 80% color when scroll down. I think that it is ok.
  margin: 0 auto;
}
.navbar-brand{
  font-family: Ubuntu, serif;
  font-weight: bold;
  color: #ffffff !important;
  font-size: 24px;
  text-transform: uppercase;
}
.navbar-toggler{
  background-color: #ffffff;
}
.nav-link{
  font-family: Ubuntu, serif;
  color: #ffffff !important;
}
@media (min-width: 992px) {
  .nav-link{
    margin-right: 80px !important;
  }
  .nav-link-last{
    margin-right: 0 !important;
  }
}
.nav-link:hover{
  color: #f3531e !important;
  font-weight: 900;
}
@media (min-width: 992px) {
  .nav-link:hover{
    font-weight: 400;
  }
}
.nav-icon{
  color: #ffffff;
}
@media (min-width: 992px) {
  .nav-icon{
    margin-left: 35px;
  }
}


/* **************************************************

                   Header Section

***************************************************** */


.section-container{
  height: 850px;
  padding-top: 90px;
  padding-left: 16px;
  padding-right: 16px;
}
@media (min-width: 992px) {
  .section-container{
    padding-top: 172px;
  }
}



//SECTION TEXT:


.title{
  font-family: Ubuntu, serif;
  color: #ffffff;
  font-size: 60px;
  text-align: left;
  font-weight: 700;
  margin-bottom: 42px;
}
.description{
  font-family: Ubuntu, serif;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  margin-bottom: 59px;
}
.button-container{
  display: flex;
  justify-content: flex-start;
}
@media (max-width: 373px) {
  .button-container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.section-text button{
  border-radius: 5px;
  background-color:  #fc6a42;
  width: 158px;
  height: 52px;
  border: none;
  font-family: Ubuntu, serif;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
}
.section-text button:last-child{
  margin-left: 13px;
  background-color: #4466c9;
}
@media (max-width: 373px) {
  .section-text button:last-child{
    margin-right: 13px;
    margin-top: 10px;
  }
}
@media (min-width: 992px) {
  .section-text{
    margin-top: 120px;
  }
}


.phone-photo {
  background: url("../images/phone.png") no-repeat center;
  margin-top: 60px;
  height: 640px;
}
@media (min-width: 992px) {
  .phone-photo {
    margin-top: 0;
  }
}
.phone-circles {
  background: url("../images/circles.png") no-repeat center;
  display: none;
  height: 640px;
}
@media (min-width: 1170px) {
  .phone-circles {
    display: block;
    position: relative;
    bottom: 555px;
  }
}
.scroll-down{
  background: url("../images/scrolldown.png")no-repeat top;
  display: none;
}
@media (min-width: 992px) {
  .scroll-down{
    display: block;
    height: 70px;

  }
}

/* **************************************************

                   Features Section

***************************************************** */

.features_title{
  text-align: center;
  font-family: Ubuntu, serif;
  color: #648cff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 36px;
  margin-top: 132px;
}
.features_subtitle{
  font-family: Ubuntu, serif;
  color: #999999;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  margin-top: 30px;
}
.features img{
  float: left;
  padding-bottom: 100px;
  margin-right: 21px;
}
.features .row div{
  margin-top: 30px;
}
.features .row{
  margin-top: 99px;
}
.features .row p:nth-child(2n){
  font-family: Ubuntu, serif;
  color: #353854;
  font-size: 24px;
  font-weight: 700;
}
.features .row p:nth-child(3n){
  font-family: Ubuntu, serif;
  color: #aeaeae;
  font-size: 16px;
  font-weight: 400;
  margin-top: 28px;
  line-height: 30px;
}

/* **************************************************

                        Slider

***************************************************** */
.slider{
  margin-top: 100px;
}
.swiper-container{
  height: 660px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.swiper-slide{
  background-position: center;
  background-size: cover;
  height: 660px;
  width: 317px;
}
.swiper-wrapper img{
  -webkit-box-shadow: 0px 24px 93px -12px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 24px 93px -12px rgba(0,0,0,0.3);
  box-shadow: 0px 24px 93px -12px rgba(0,0,0,0.3);
}


/* **************************************************

                      Screenshots

***************************************************** */

          //Cloud
.row{
  display: flex;
}
.cloud_images{
  order: 2;
}
@media (min-width: 992px) {
  .cloud_images{
    order: 1;
  }
}
.cloud_text{
  order: 1;
}
@media (min-width: 992px) {
  .cloud_text{
    order: 2;
  }
}



.screen1{
  display: none;
}
@media (min-width: 992px) {
  .screen1{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
.screen1wt{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
@media (min-width: 992px) {
  .screen1wt{
    display: none;
  }
}
.cloud_icon{
  margin-top: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 992px) {
  .cloud_icon{
    margin-left: 0;
  }
}
.screen_cloud .features_title{
  margin-top: 50px;
}
@media (min-width: 992px) {
  .screen_cloud .features_subtitle{
    margin-bottom: 180px;
  }
}
@media (min-width: 992px) {
  .screen_cloud .col-12 .features_title{
    text-align: left;
  }
}
.screen_cloud_subtitle{
  font-family: Ubuntu, serif;
  color: #353854;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  margin-top: 36px;
}
@media (min-width: 992px) {
  .screen_cloud_subtitle{
    text-align: left;
  }
}
.screen_cloud_percents{
  display: none;
}
@media (min-width: 992px) {
  .screen_cloud_percents{
    display: block;
    margin-top: 50px;
  }
}


      //Sun

.screen_sun .features_title{
  margin-top: 50px;
}
@media (min-width: 992px) {
  .screen_sun .features_title{
    text-align: left;
  }
}

@media (min-width: 992px) {
  .screen_sun{
    margin-top: 250px;
  }
}

      //Rain

.screen_rain .features_title{
  margin-top: 50px;
}

@media (min-width: 992px) {
  .screen_rain .features_title{
    text-align: left;
  }
}

@media (min-width: 992px) {
  .screen_rain{
    margin-top: 250px;
  }
}